<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="listuser-page">
    <div class="divBg">
        <div class="base" style="max-width: 30%">
            <form action="/api/user">
                <input type="text" name="search" placeholder="search" class="search">
            </form>
            <ul class="list">
                <% for (let i = 0; i < data.length; i++) { %>
                    <li>
                        <div class="user">
                            FirstName : <%= data[i].first_name %><br>
                            LastName : <%= data[i].last_name %><br>
                            Email : <%= data[i].email %><br>
                            Password : <%= data[i].password %><br>
                            Gender : <%= data[i].gender %><br>
                            Admin : <%= data[i].admin %><br>
                        </div>
                    </li>
                <% } %>
            </ul>
            <form action="/home">
                <input type="submit" value="Home">
            </form>
        </div>
    </div>
</body>
